.headshot {
    width: 250px;
    height: 370px;
    border-radius: 25%;
    margin-left: 60px;
}

p.about-me-para {
    max-width: 700px;
}

.section-header {
    font-family: 'Orbitron';
    font-size: 50px;
}

.intro-container
{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-header {
    font-family: 'Offside';
    color: #FFFFFF;
    font-size: 64px;
    text-align: center;
}


.resume-button {
    background-color: rgba(13,13,13,0.60);
    color: #dedede;
    border-radius: 7px;
    font-family: 'JetBrainsMono';
    padding: 5px 10px 5px 10px;
    margin-right: -8px;
    font-size: 20px;
}

.resume-button:hover {
    background-color: rgba(0,0,0,0.80);
    border-color: #c7c7c7;
}

.resume-header {
    font-size: 28px;
    padding-top: 30px;
    color: #ffffff;
}

.resume-link {
    text-decoration: none;
}